body {
	text-align: center;
	background-color:black;
	font-family: 'verdana';
	color: white;
	/*padding-right: 750px;
	padding-left: 750px;*/
	margin-left: 250px;
	margin-right: 250px;
}

#landing {
	max-height: 450px;
	max-width: 1200px;
	border: 2px solid white;
	margin-bottom: 25px;
	margin-top: 75px;


}

nav {
	padding-top: 22px;
}
.nav-fluid {
	font-size: large;
	z-index: 100;
	top: 0;
	position: fixed;
	background-color: black;
	margin-bottom: 10px;

}

.portrait {
	max-height: 250px;
	max-width: auto;
}

h1 {
	display: flex;
	flex-direction: row;
	font-size: x-large;
	font-weight: 1000;
	text-transform: uppercase;
}

a {
	color: white;
}

img {
	max-width: 100%;
}

img.job {
	margin-top: 10px;
	margin-bottom:  50px;
	max-width: 50%;
	max-height: 50%;
}

.about {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 40px 50px 40px 50px;
}
