body {
	text-align: center;
	background-color:black;
	font-family: 'verdana';
	color: white;
	margin-left: 550px;
	margin-right: 550px;
}

#landing {
	max-height: 450px;
	max-width: 1200px;
	border: 2px solid white;
	margin-bottom: 25px;
	margin-top: 75px;


}

nav {
	padding-top: 22px;
}
.nav-row {
	font-size: large;
	z-index: 100;
	top: 0;
	position: fixed;
	-o-object-position: center;
	   object-position: center;
	background-color: black;
	margin-bottom: 10px;


}

.portrait {
	max-height: 200px;
	max-width: auto;
}

h1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font-size: x-large;
	font-weight: 1000;
	text-transform: uppercase;
}

a {
	color: white;
}

img {
	max-width: 100%;
}

img.job {
	margin-top: 10px;
	margin-bottom:  50px;
	max-width: 50%;
	max-height: 50%;
}

img:hover {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter:grayscale(100%);
	        filter:grayscale(100%);
}

.about-row {
	padding-top:  10px;
	padding-bottom: 50px;


}

#games {
	padding-top:  10px;
	padding-bottom: 50px;

		
}