@-webkit-keyframes	colorize	{
		5%			{		
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');		
		-webkit-filter:grayscale(100%);		
		        filter:grayscale(100%);
		}	
		10%	{		
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.37007999999999996 0.57216 0.057760000000000006 0 0 0.17008 0.77216 0.057760000000000006 0 0 0.17008 0.57216 0.25775999999999993 0 0 0 0 0 1 0" /></filter></svg>#filter');		
		-webkit-filter:grayscale(80%);		
		        filter:grayscale(80%);
		}	
		25% {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.52756 0.42911999999999995 0.04332 0 0 0.12756 0.82912 0.04332 0 0 0.12756 0.42911999999999995 0.44332 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(60%);
		        filter:grayscale(60%);
		}
		50 {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.68504 0.28608 0.028880000000000003 0 0 0.08504 0.88608 0.028880000000000003 0 0 0.08504 0.28608 0.62888 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(40%);
		        filter:grayscale(40%);
		}
		75% {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.84252 0.14303999999999994 0.014439999999999995 0 0 0.04252 0.94304 0.014439999999999995 0 0 0.04252 0.14303999999999994 0.81444 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(20%);
		        filter:grayscale(20%);
		}
		100% {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(0%);
		        filter:grayscale(0%);
		}
}

@keyframes	colorize	{
		5%			{		
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');		
		-webkit-filter:grayscale(100%);		
		        filter:grayscale(100%);
		}	
		10%	{		
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.37007999999999996 0.57216 0.057760000000000006 0 0 0.17008 0.77216 0.057760000000000006 0 0 0.17008 0.57216 0.25775999999999993 0 0 0 0 0 1 0" /></filter></svg>#filter');		
		-webkit-filter:grayscale(80%);		
		        filter:grayscale(80%);
		}	
		25% {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.52756 0.42911999999999995 0.04332 0 0 0.12756 0.82912 0.04332 0 0 0.12756 0.42911999999999995 0.44332 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(60%);
		        filter:grayscale(60%);
		}
		50 {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.68504 0.28608 0.028880000000000003 0 0 0.08504 0.88608 0.028880000000000003 0 0 0.08504 0.28608 0.62888 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(40%);
		        filter:grayscale(40%);
		}
		75% {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.84252 0.14303999999999994 0.014439999999999995 0 0 0.04252 0.94304 0.014439999999999995 0 0 0.04252 0.14303999999999994 0.81444 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(20%);
		        filter:grayscale(20%);
		}
		100% {
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
		-webkit-filter:grayscale(0%);
		        filter:grayscale(0%);
		}
}

body {
	text-align: center;
	background-color:black;
	font-family: 'verdana';
	color: white;
	margin-left: 175px;
	margin-right: 175px;
}

p {
	text-align: left;
}

h3 {
	text-align: left;
}

#landing {
	max-height: 450px;
	border: 2px solid white;
	margin-bottom: 25px;
	margin-top: 100px;


}

.map {
	min-height: 250px;
	min-width: 250px;
	max-height: 400px;
	max-width: 400px;
}

nav {
	padding-top: 22px;
}
.nav-row-fluid {
	font-size: large;
	z-index: 100;
	top: 0;
	position: fixed;
	-o-object-position: center;
	   object-position: center;
	background-color: black;
	margin-bottom: 10px;


}

.portrait {
	-webkit-animation: colorize 5s linear infinite;
	        animation: colorize 5s linear infinite;
	-webkit-transition:all 1s ease-in-out;
	transition: all 1s ease-in-out;
	max-height: 200px;
	max-width: auto;
}


.gameImage {
	border: 2px solid white;
}

.gameImage:hover {
	  -webkit-transform: scale(1.1);
	          transform: scale(1.1);

}

h1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	font-size: x-large;
	font-weight: 1000;
	text-transform: uppercase;
}

h2 {
	margin-top: 50px;
	margin-bottom: 50px;
}

a {
	color: white;
}

img {
	max-width: 100%;
}


img.job {
	margin-top: 50px;
	margin-bottom:  100px;
	max-width: 75%;
	max-height: 50%;
}


.about-row-fluiid {
	padding-top:  10px;
	padding-bottom: 50px;


}

#games {
	padding-top:  10px;
	padding-bottom: 50px;

		
}

@media only screen and (max-width: 1000px) {
    #landing {
    	margin-top: 225px;
    }
    }

 @media only screen and (max-width: 525px) {
    #landing {
    	margin-top: 150px;
    }
    }